.AddJobForm {
    max-width: 600px;
    margin: 0;
    padding: 20px;
    padding-left: 10%;

    h1 {
      margin-bottom: 20px;
    }
  
    .form-group {
      margin-bottom: 15px;
  
      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
      }
  
      input,
      textarea,
      select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }
    button {
      display: block;
      background-color: #d5d2ff;
      color: #2c2a4a;
      border: 2px solid #d5d2ff;
      border-radius: 15px;
      padding: 5px 10px;
      max-width: fit-content;
      cursor: pointer;
      font-weight: bold;
      font-size: 1rem;

      &:hover {
        background-color: #b2aef5;
        border-color: #b2aef5;
      }
    }
  }