.filters {
    display: flex;
    justify-content: left;
    .search-container input {
        margin: 5px;
        width: 100%; // Makes the input tag take up the full width of its container
        padding: 10px; // Adds padding inside the input for better spacing
        border-radius: 12px; // Rounds the corners of the input
        border: 1px solid #ccc; // Adds a light gray border
        background-color: #e6e6e6;
        font-size: 16px; // Sets the font size for better readability
    }
    .ai-search-check {
        margin-left: 30px;
        margin-top: 15px;
    }
}
.select-filters {
    display: flex;
}
