@import url('https://fonts.googleapis.com/css2?family=Canva+Sans:wght@400;600;700&display=swap');

.header-container {
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    margin: 0;  // Remove space between cards
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;  // Ensure content doesn't overflow the card boundaries
    font-family: 'Canva Sans', sans-serif;

    .logo-container {
        flex: 0 0 120px; // Fixed width for image container
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

        .logo {
            width: 100%;
        }
    .main-title {
      width: 50%;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 10px;
      font-size: 1.5rem;
      padding-top: 30px;
      font-weight: bold;
      
    }

    .export-button-container {
        position: relative; // Ensures it acts as the positioning reference for the button
        width: 30%; // Ensures it spans the container width
    
        button {
            position: absolute;
            top: 15px;  // Adjust spacing from the top
            right: 15px; // Adjust spacing from the right
            background-color: #007bff; // Primary blue color
            color: #fff; // White text
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 4px;
            cursor: pointer;
            transition: background 0.3s ease, transform 0.2s ease;
            text-transform: uppercase;
    
            &:hover {
                background-color: #0056b3; // Darker blue for hover
                transform: translateY(-2px); // Slight lift effect
            }
    
            &:active {
                background-color: #004494; // Even darker for active press
                transform: translateY(0px);
            }
        }
    }
    
}

.job-details-container {
    // display: flex;
    background-color: #fff;
    // border-bottom: 1px solid #ddd;
    font-family: 'Canva Sans', sans-serif;
    padding: 20px;

    .secondary-title {
        font-size: 1.1rem;
        font-weight: bold;
    }

    .job-location {
        font-size: 0.9rem;
        color: #333;
    }
    .job-salary {
        font-size: 0.9rem;
        color: #333;
    }
    .job-date-posted {
        font-size: 0.9rem;
        color: #333;
    }

}

.job-details-container {
    // display: flex;
    background-color: #fff;
    // border-bottom: 1px solid #ddd;
    font-family: 'Canva Sans', sans-serif;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 5px;

    .secondary-title {
        font-size: 1.1rem;
        font-weight: bold;
    }

    .job-location {
        font-size: 0.9rem;
        color: #333;
    }
    .job-salary {
        font-size: 0.9rem;
        color: #333;
    }
    .job-date-posted {
        font-size: 0.9rem;
        color: #333;
    }

}

.match {
    background-color: #B2fba5;
    color: green;
    padding: 20px;
    padding-left: 20px;
}

.challenge {
    background-color: #ff746c;
    color: darkred;
    padding: 20px;
    padding-left: 20px;
}
  
//     .job-card-content {
//       display: flex;
//       flex-direction: column;
//       height: 100%;
//       padding: 10px;
    
//     }
  
//     .job-title {
//       font-size: 1.2rem;
//       font-weight: bold;
//       color: #333;
//     }
  
//     .job-location {
//       font-size: .75rem;
//       color: #555;
//     }

//     .job-salary-date-container {
//         align-self: flex-start; // Moves it to the top
//         margin-left: auto; // Pushes it to the right
//         // font-weight: bold;
//         padding: 10px;
//         padding-right: 20px;
//         text-align: right;
//       }
    
  
//     .job-card-salary {
//         font-weight: bold;
//         color: #333;
//         font-size: 0.85rem;
//       }

//     .job-card-date-posted {
//         font-size: .75rem;
//         color: #555;
//     }
  
//   }

// .active-card {
//     background-color: #ddd;

  
