@import url('https://fonts.googleapis.com/css2?family=Canva+Sans:wght@400;600;700&display=swap');

.job-card {
    display: flex;
    background-color: #e6e6e6;
    border: 1px solid #ddd;
    margin: 0;  // Remove space between cards
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;  // Ensure content doesn't overflow the card boundaries
    font-family: 'Canva Sans', sans-serif;
  
    &:hover {
      transform: translateY(-1px);
      background-color: #bfbfbf;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.20);
      cursor: pointer;
    }

    .job-card-logo-container {
        flex: 0 0 70px; // Fixed width for image container
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .job-card-logo {
        width: 100%;
    }
  
    .job-card-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 10px;
    
    }
  
    .job-title {
      font-size: 1.2rem;
      font-weight: bold;
      color: #333;
    }
  
    .job-location {
      font-size: .75rem;
      color: #555;
    }

    .job-salary-date-container {
        align-self: flex-start; // Moves it to the top
        margin-left: auto; // Pushes it to the right
        // font-weight: bold;
        padding: 10px;
        padding-right: 20px;
        text-align: right;
      }
    
  
    .job-card-salary {
        font-weight: bold;
        color: #333;
        font-size: 0.85rem;
      }

    .job-card-date-posted {
        font-size: .75rem;
        color: #555;
    }


    
    .select-checkbox input[type="checkbox"] {
        width: 15px;
        height: 15px;
        margin: 5px;
        
        // margin-right: 10px; /* Space between checkbox and label */
        cursor: pointer;
        transition: all 0.3s ease;
    }
    
    .select-checkbox input[type="checkbox"]:checked {
        background-color: #4CAF50; /* Green background for checked state */
        border-color: #4CAF50;
    }
    
    .select-checkbox input[type="checkbox"]:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Blue shadow on focus */
    }
    
    
  
  }

.active-card {
    background-color: #bfbfbf;
}
  
